@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 16px 'Josefin Sans', sans-serif;
  background: hsl(0, 36%, 97%);
}

.container {
  display: flex;
  justify-content: center;
}

.flyer {
  max-width: 500px;
}

.logo {
  padding: 30px 0 30px 30px;
}

.flyer-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-image {
  width: 100%;
}

.text-content {
  width: 85%;
  margin: 40px 0;
}

.text-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 15px;
  text-transform: uppercase;
  text-align: center;
}

.light-text {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.text-content p {
  margin-top: 30px;
  text-align: center;
  color: hsl(0, 36%, 70%);
  line-height: 1.4;
}

.email-field {
  margin-top: 40px;
  display: flex;
}

input[type='email'] {
  width: 100%;
  padding: 15px 70px 15px 20px;
  border: 1px solid hsl(0, 36%, 80%);
  border-radius: 50px;
  font: 16px 'Josefine Sans', sans-serif;
}

input[type='email']::placeholder {
  color: hsl(0, 36%, 80%);
}

input[type='email']:focus {
  outline: none;
  border: 1px solid hsl(0, 36%, 60%);
}

.btn {
  padding: 15px 30px 15px 30px;
  margin-left: -50px;
  border-radius: 50px;
  border: none;
  background: hsl(0, 93%, 80%);
  background: -webkit-linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
  background: -moz-linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  -webkit-box-shadow: 0px 10px 13px 5px rgba(206, 151, 151, 0.2);
  -moz-box-shadow: 0px 10px 13px 5px rgba(206, 151, 151, 0.2);
  box-shadow: 0px 10px 13px 5px rgba(206, 151, 151, 0.2);
}

.btn:focus {
  outline: none;
  background: hsl(0, 93%, 70%);
  background: -webkit-linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 65%)
  );
  background: -moz-linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 65%));
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 65%));
}

/* Layout change for screen greater than 768px */
@media screen and (min-width: 769px) {
  body {
    background: hsl(0, 36%, 95%);
  }

  .flyer {
    max-width: 1024px;
    width: 90%;
    margin-bottom: 40px;
  }

  .logo {
    padding: 30px 0;
  }

  .flyer-content {
    flex-direction: row;
    align-items: center;
    background: hsl(0, 36%, 90%);
  }

  .hero-image {
    order: 1;
  }

  .text-content {
    order: 0;
    padding: 0 50px;
  }

  .text-content h1,
  .text-content p {
    text-align: left;
  }

  .text-content h1 {
    font-size: 4rem;
  }

  .light-text {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
  }
}
